<footer
  class="h-[35rem] text-white flex items-center justify-center w-full bg-footer-bg"
>
  <div class="max-w-[73rem] flex flex-col w-full min-h-[26.875rem]">
    <div class="flex gap-16">
      <!--follow us-->
      <div>
        <div class="logo w-[15.5rem] h-[4.6rem]">
          <img
            src="../../../assets/VolticanLogo.png"
            class="w-full h-full object-cover"
            alt="logo"
          />
        </div>
        <div class="mt-8">
          <p class="text-2xl h-[4.6rem] font-black 2xl:text-[1.75rem]">
            Follow Us
          </p>
        </div>
      </div>
      <!--Contact us-->
      <div>
        <p class="text-2xl h-[4.6rem] font-black 2xl:text-[1.75rem]">
          Contact Us
        </p>
        <div class="text-[1.375rem] font-normal">
          <p>4517 Washington Ave. Manchester,</p>
          <p>Kentucky 39495</p>
          <p>deanna.curtis@example.com</p>
          <p>(671) 555-0110</p>
        </div>
      </div>
      <!--Useful links-->
      <div>
        <p class="text-2xl h-[4.6rem] font-black 2xl:text-[1.75rem]">
          Useful Links
        </p>
        <div class="text-[1.375rem] flex gap-8 font-normal">
          <ul>
            <li class="hover:underline">
              <a href=""> About us</a>
            </li>
            <li class="hover:underline">
              <a href=""> Join our team</a>
            </li>
            <li class="hover:underline">
              <a href="">Solutions</a>
            </li>
          </ul>
          <ul>
            <li class="hover:underline">
              <a href=""> Certificates</a>
            </li>
            <li class="hover:underline">
              <a href="">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="mt-auto text-xl 2xl:text-[1.75rem] font-normal border-t-4 flex justify-between border-[#CDCBCF] py-4"
    >
      <p>© {{ year }} Voltican. All Rights Reserved</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</footer>
