<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/Careers.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[32rem] flex items-center justify-center w-full"
  >
    <h1 class="text-mainText font-bold text-white">Join our Team</h1>
  </section>
  <!--End Intro Section-->
  <!--Begin Experts Section-->
  <section class="my-16 flex w-full items-center gap-8 flex-col justify-center">
    <div>
      <h1 class="text-heading my-7 text-center font-bold">
        Lorem Cupidatat Duis
      </h1>
      <p
        class="text-center mb-10 text-[1.3785rem] max-w-[60.25rem] w-full text-text-gray"
      >
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
        cillum dolor. Voluptate exercitation incididunt aliquip deserunt.
      </p>
    </div>
    <div class="max-w-[73rem]">
      <div class="gap-6 flex-wrap flex w-full">
        <div
          *ngFor="let item of [1, 2, 3, 4, 5, 6]"
          class="relative cursor-pointer w-full flex p-8 max-w-[35.6rem] min-h-[18.3rem] bg-white shadow-[0_19px_33px_rgba(0,0,0,0.13)]"
        >
          <div class="text-[#2D2323] flex flex-col gap-4 w-full">
            <p
              class="text-base 2xl:text-lg capitalize text-[1.75rem] font-bold"
            >
              Professional
            </p>
            <p class="text-xl 2xl:text-subText flex-grow text-text-gray">
              Amet minim mollit non deserunt ullamco est sit aliqua minim
              mollit.
            </p>
            <button
              class="px-10 capitalize mt-auto w-max py-3 bg-primary text-xl text-white"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Experts Section-->
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/CLientsLarge.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="300"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center min-h-[40rem]"
  >
    <h1
      class="text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-2xl"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      Contact us
    </button>
  </section>
  <!--End Seciton 3-->
  <!--Begin News letter Section-->
  <section
    class="h-[18.8rem] flex gap-10 items-center justify-center bg-primary"
  >
    <div class="text-white">
      <h1 class="text-heading font-bold mb-4">Newsletter</h1>
      <p class="text-3xl font-normal max-w-[31.4rem] w-full">
        Signup our newsletter to get update information, news or insight.
      </p>
    </div>
    <div class="flex gap-8">
      <input
        type="email"
        id="email"
        class="bg-transparent border border-border-gray h-[4rem] text-white placeholder:text-white text-xl focus:ring-blue-500 focus:border-text-black block px-4 md:w-[30.5rem] w-full"
        placeholder="Enter your email"
        required
      />
      <button class="px-10 w-max py-3 bg-primary-dark text-xl text-white">
        Submit
      </button>
    </div>
  </section>
</div>
