<main class="min-h-screen w-full">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>

  <!--Begin Trusted companies-->
  <section class="max-w-[90%] py-10 mx-auto mt-20 w-full">
    <h1 class="text-[1.75rem] my-4 text-[#010101] font-bold text-center">
      Our Trusted Company
    </h1>
    <h2 class="text-center mb-4 text-heading text-[#010101]">
      Lorem Cupidatat Duis
    </h2>

    <p
      class="text-center mx-auto text-[#010101] text-[1.375rem] max-w-[60.25rem] mt-5 w-full"
    >
      Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
      cillum dolor. Voluptate exercitation incididunt aliquip deserunt.
    </p>
    <div class="mt-32 w-full flex justify-between gap-10"></div>
  </section>
  <app-footer></app-footer>
</main>
