<div class="">
  <!--Begin Intro Section-->
  <section
    class="h-intro-page-height w-full z-20 bg-black relative backdrop-blur-3xl"
  >
    <video
      autoplay
      muted
      loop
      id="myVideo"
      class="absolute top-0 bottom-0 right-0 left-0 w-full h-full object-cover"
    >
      <source src="../../../assets/Comp 1_1.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <div
      class="absolute sm:px-16 flex flex-col gap-10 justify-center text-white top-0 bottom-0 right-0 left-0 h-full w-full"
    >
      <div class="max-w-[40rem] text-6xl font-bold">
        <h1 class="text-6xl font-bold">Digital Transformation & Consulting</h1>
      </div>

      <p class="text-xl max-w-[34rem] font-normal w-full">
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
        cillum dolor. Voluptate exercitation incididunt aliquip deserunt.
      </p>

      <button class="px-12 w-max py-3 border border-white">Lorem</button>
    </div>
    <div class="flex items-center absolute -bottom-14 justify-center w-full">
      <div class="bg-white w-[90%] min-h-[7rem] shadow-lg">good boy</div>
    </div>
  </section>
  <!--End Intro Section-->
  <!--Begin section 2-->
  <section class="max-w-[90%] py-10 mx-auto mt-32 w-full">
    <div
      class="text-[3rem] text-[#010101] mx-auto max-w-[34.75rem] font-bold text-center"
    >
      <h1>Innovative Solutions Beyond Excellence</h1>
      <h1></h1>
    </div>
    <p class="text-center mx-auto max-w-[43rem] mt-5 w-full">
      Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
      cillum dolor. Voluptate exercitation incididunt aliquip deserunt. Nulla
      Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum
      dolor. Voluptate exercitation incididunt aliquip deserunt.
    </p>
    <div class="mt-32 w-full flex justify-between gap-10">
      <div class="flex-grow md:pt-10">
        <h1 class="text-[4rem] font-bold">Lorem Cupidatat Duis</h1>
        <p class="max-w-[39rem] mt-3 w-full text-xl font-normal text-[#6F6D71]">
          Voltican is a global management consulting, technology services and
          outsourcing company. Technology and outsourcing to help clients
          perform at the highest levels so they can create sustainable value for
          their customers.
        </p>
        <button class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white">
          Contact us
        </button>
      </div>
      <div class="w-[34rem] h-[28.6rem] bg-red-900"></div>
    </div>
  </section>
  <!--End section 2-->
  <!--Begin Seciton 3-->
  <section
    class="w-full text-white text-center bg-red-900 gap-8 flex flex-col items-center justify-center min-h-[40rem]"
  >
    <h1 class="text-[4rem] font-bold">
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p class="max-w-[49rem] w-full text-2xl">
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white">
      Contact us
    </button>
  </section>
  <!--End Seciton 3-->
</div>
